body{
    background: url(../img/bg.gif) repeat-x #303030;
}

h1, h2, h3, h4, h5, h6{
    color: #fff;
}


.jumbotron{
    border: 7px solid #fff;
}

.container{
    max-width: 800px;

}

@media screen and (min-width: 768px) {

    .header .menu{
        padding-top: 80px;
    }

    .navbar-brand{
        display: none;
    }

    .jumbotron{
        background: url(../img/mainimage.jpg) no-repeat;
        background-size: cover;
        min-height: 300px;
    }
}
